<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Coments</th>
      <th>Latest Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td><%= article.comments_count %></td>
        <td><%= article.latest_comments %></td>
        <td><%= link_to 'Show', article_path(article['_id']) %></td>
        <td><%= link_to 'Edit', edit_article_path(article['_id']) %></td>
        <td><%= link_to 'Destroy', article_path(article['_id']), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
